* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin-bottom: 20px;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
}
.item {
  width: 100px;
  height: 100px;
  background-color: pink;
  margin: 1px;
}
.player {
  margin-top: 20px;
}
.win-player {
  display: none;
}
.win-player-show {
  display: inline-block;
}

.hover-x::after {
  content: "X";
}
.hover-o::after {
  content: "O";
}
.hover::after {
  display: flex;
  font-size: 50px;
  justify-content: center;
  line-height: 100px;
  color: #777;
}

.active {
  cursor: not-allowed;
}
.active::after {
  display: flex;
  font-size: 50px;
  justify-content: center;
  line-height: 100px;
}
.active-x::after {
  content: "X";
}
.active-o::after {
  content: "O";
}

.btn-reset {
  padding: 4px 8px;
}
